* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.miotitolo {
  color: #c62828;
}


body {
  margin: 0;
  background: #f3f3f3;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  font-size: 18px;
  margin: 0;
}

.icon {
  font-size: 20px;
}

/* STATUS */
.status {
  background: #5ac8a5;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

/* CARD */
.card {
  background: #fff;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.card h2 {
  color: #c62828;
  font-size: 16px;
  margin-top: 0;
}

.qr {
  margin: 15px 0;
}

.ticket-code {
  font-size: 18px;
  font-weight: 700;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #555;
}

/* INFO */
.info {
  background: #fff;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
}


.stripe {
  height: 60px;
  margin: 20px 0 28px;
  border-radius: 4px;
  overflow: visible;

  /* sfondo rosso + gradiente trasparente in alto e in basso */
  background: 
    linear-gradient(to bottom, rgba(229,115,115,0.3), rgba(229,115,115,0.7) 20%, rgba(229,115,115,0.7) 80%, rgba(229,115,115,0.3)),
    rgba(229, 115, 115, 0.7);

  background-repeat: no-repeat;

  /* zigzag bianchi */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='60' viewBox='0 0 24 60'%3E%3Cpolyline fill='none' stroke='white' stroke-width='3' points='0,11 6,7 12,11 18,7 24,11' /%3E%3Cpolyline fill='none' stroke='white' stroke-width='3' points='0,27 6,23 12,27 18,23 24,27' /%3E%3Cpolyline fill='none' stroke='white' stroke-width='3' points='0,43 6,39 12,43 18,39 24,43' /%3E%3Cpolyline fill='none' stroke='white' stroke-width='3' points='0,59 6,55 12,59 18,55 24,59' /%3E%3C/svg%3E");

  background-repeat: repeat-x;
  background-size: 24px 60px;
  animation: zigzagMove 1.4s linear infinite;
}

@keyframes zigzagMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 24px 0;
  }
}



.info h3 {
  color: #e53935;
  margin: 10px 0 5px;
}

.company {
  font-weight: bold;
}

.desc {
  font-size: 14px;
}

.timer-box {
  background: #5ac8a5;
  color: white;
  padding: 12px;
  border-radius: 6px;
  margin: 10px 0 5px;
  font-size: 18px;
  margin: 15px 0;
}

.details div {
  background: #eee;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #eee;
  padding: 10px;
  border-radius: 6px;

  font-size: 16px;
}

.price-label {
  font-weight: bold;
  font-size: 16px;
}

.price-value {
  font-weight: bold;
  color: #c62828;
  font-size: 22px;
}

/* Accordion header */
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  user-select: none;
}

/* Freccia */
.arrow {
  font-size: 32px;
  transition: transform 0.3s ease;
  color: gray;
}

/* Contenuto apribile */
.accordion-content {
  overflow: hidden;
  max-height: 600px;
  transition: max-height 0.4s ease;
}

/* Stato chiuso */
.accordion-content.closed {
  max-height: 0;
}

/* Freccia ruotata */
.arrow.closed {
  transform: rotate(180deg);
}

.price-image {
  margin-top: 10px;
  background: white;
  padding: 6px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 8px;
}

.price-image img {
  max-width: 150px;
  height: auto;
  display: block;
}

.price-image-right {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-left: 800px;
  align-self: center;
}

.price-image-text {
  background: white;
  margin-top: 4px;
  font-size: 16px;
  color: black;
  text-align: left;
  margin-left:  10px;
}




